@import "tailwindcss";

body {
  color: #fff !important;
}

.ant-layout-content {
  @apply bg-stone-200 rounded-lg border-t;
}

.ant-layout-sider-children {
  @apply bg-stone-50 border border-black rounded-lg;
}

.custom-sidebar {
  @apply bg-stone-50 h-full;
}

.link {
  color: #000;
}

.link:hover {
  color: #000;
}

.ant-form {
  padding: 15px;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
    border: 2px solid transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }
}